.items-list {
  width: 70%;
  border-collapse: collapse;
  overflow-x: auto;
}

thead {
  border-bottom: 1px solid #fff;
}
thead th {
  padding: 0.5em;
  font-size: 1.5em;
}

@media screen and (max-width: 1100px) {
  .items-list {
    width: fit-content;
    margin-left: 10em;
  }
}
